<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cist</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
        <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Code Search" />
    </head>
    <body>
        <div class="content">
            <h1><a href="/">Cist</a></h1>
            <hr />
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
