{% extends "layout.html.twig" %}

{% block content %}
    <a href="/add" class="btn">Add</a>

    <ul>
        {% for snippet in pager.collection %}
            <li>
                <a href="/show/{{ snippet.id }}">{{ snippet.title }}</a>
                <ul class="tags">
                    {% for keyword in snippet.keywords %}
                        <li><span class="label label-info">{{ keyword }}</span></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    {% include "pager.html.twig" %}
{% endblock %}
