body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.content {
    margin: 0 auto;
    max-width: 700px;
}

.content > hr {
    margin: 20px 0;
}

.tags {
    list-style-type: none;
    margin-left: 0;
}

.tags li {
    display: inline;
}

.tags li input {
    width: 9em;
}

li .tags {
    display: inline;
    margin-left: 1em;
}

.tags .label {
    padding: 5px 10px;
}

.snippets {
    margin-top: 20px;
}

.snippets > ul > li {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 2em;
}

.snippets .tags {
    float: right;
    top: -5px;
    position: relative;
}

#search {
    float: right;
}

#search .help {
    display: none;
}

#search .popover {
    width: 260px;
}

.snippet-codes input[name="snippet[title]"] {
    width: 98%;
}

.snippet-codes textarea {
    width: 98%;
    height: 300px;
}

.snippet-code {
    position: relative;
    padding-right: 0;
    padding-bottom: 0;
}

.snippet-code h3 {
    margin: 0;
    line-height: normal;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 1.1em;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.snippet-code pre {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 500px;
    overflow: auto;
    white-space: pre;
}

.snippet-code h3 a {
    font-size: 1.2em;
}
