body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.content {
    margin: 0 auto;
    max-width: 700px;
}

.content > hr {
    margin: 20px 0;
}

.tags {
    list-style-type: none;
    margin-left: 0;
}

.tags li {
    display: inline;
}

.tags li input {
    width: 9em;
}

li .tags {
    display: inline;
    margin-left: 1em;
}

.tags .label {
    padding: 5px 10px;
}

.snippets {
    margin-top: 20px;
}

.snippets > ul {
    list-style-type: none;
    margin-left: 0;
}

.snippets > ul > li {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 2em;
}

.snippets .tags {
    float: right;
    top: -5px;
    position: relative;
}

#seach {
    float: right;
}
